# LaTeX auxiliary files
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xwm
*.run.xml
*.blx.bib
*.listing
*.glo
*.ist
*.sym1
*.sym2
*.glsdefs

# Ignore compiled PDFs (optional - remove if you want to track PDF in git)
IDP_Report.pdf
InternshipReport.pdf
Main.pdf
MajorProjectReport.pdf
MinorProjectReport.pdf
DTL_Report.pdf


